/* TODO: Cambiar los nombres a inglés y cambiar los colores de los botones */
.SummaryWindow{
    background-color: black;
}
#card_summary {
    background-color: white;
    border-radius: 10px;
    padding: 20px 5px;
}
#title {
    color: black;
    font-family: 'Rockwell';
    font-size: 38px;
}
#quit, #save, #continue_ {
    margin: 2px;
    font-size: 20px;
    border-radius: 8px;

    color: white;
    height: 35px;
    width: 120px;
}
#quit {
    background: hsl(0, 98, 70);
}
#quit:hover {
    background: hsl(0, 98, 110);
}
#save {
    background: hsl(161, 98, 70);
}
#save:hover {
    background: hsl(161, 98, 100);
}
#continue_ {
    background: hsl(200, 98, 70);
}
#continue_:hover{
    background: hsl(200, 98, 100);
}
#failed, #completed, #money {
    font-family: consolas;
    font-size: 20px;
}
#label_failed, #label_completed, #label_money {
    font-size: 20px;
}
#label_rep {
    font-family: 'Rockwell';
    font-size: 24px;
}
#line{
    background-color: hsl(161, 98, 70);
    border-radius: 2px;
    margin: 0px 30px 0px 30px;
}