/* ---------------- */
/* Pantalla inicial */
/* ---------------- */

#InitialWindow{
    background: black;
}
#join_button{
    color: rgb(253, 253, 175);
    height: 30px;
    padding: 0 5px;
    background: red;
    font-size: 12px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#join_button:hover{
    background: rgb(255, 42, 42);
}
#name_input{
    font-size: 12px;
    height: 30px;
    padding-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#wait_label{
    color: white;
    font-size: 28px;
}
#waiting_player{
    color: rgb(231, 231, 231);
    font-size: 20px;
}
#empty_player{
    color: rgb(121, 121, 121);
    font-size: 20px;
}

/* ------------------ */
/* Pantalla del juego */
/* ------------------ */

#GameWindow{
    background: black;
}
#Player0Frame,
#Player1Frame,
#Player2Frame,
#Player3Frame{
    background: rgb(105, 105, 105);
    padding: 3px;
}
#Player0Frame,
#Player1Frame{
    border-top-right-radius: 10px;
}
#Player1Frame,
#Player2Frame{
    border-bottom-right-radius: 10px;
}
#Player2Frame,
#Player3Frame{
    border-bottom-left-radius: 10px;
}
#Player3Frame,
#Player0Frame{
    border-top-left-radius: 10px;
}
#Player0Name,
#Player1Name,
#Player2Name,
#Player3Name{
    color: white;
    font-size: 20px;
}
#game_info_frame{
    margin: 5px;
    border-radius: 5px;
    background: rgb(37, 37, 37);
}
#game_info_title,
#active_player,
#active_color{
    color: white;
}
#game_info_title{
    font-size: 30px;
}
#active_player,
#active_color{
    font-size: 24px;
}
#action_uno{
    height: 30px;
    border-radius: 14px;
    background: rgb(255, 0, 0);
    color: rgb(255, 254, 221);
    font-size: 16px;
}
#action_uno:hover{
    background: rgb(255, 72, 72);
}
#chat_box{
    color: rgb(182, 182, 182);
    background: transparent;
    border: 0;
    font-size: 12px;
}
QScrollBar{
    background: rgb(32, 32, 32);
    width: 10px;
    border: 0;
    margin: 0;
    border-radius: 5px;
}
QScrollBar::handle{
    background: rgb(117, 117, 117);
    color: red;
    border-radius: 5px;
}
QScrollBar::sub-page,
QScrollBar::add-page,
QScrollBar::add-line,
QScrollBar::sub-line{
    width: 0;
    height: 0;
    background: transparent;
}
#chat_input{
    font-size: 12px;
    border-radius: 10%;
    color: white;
    background-color: rgba(255, 255, 255, 0.329);
    padding: 5px;
}
